{% extends easyadmin_config('design.templates.layout') %}

{% block page_title %}Welcome{% endblock %}

{% block content_header '' %}
{% block main %}
    <section id="main" class="content-body">
        <h1 id="home_welcome_text">Welcome on Fuddie admin area.</h1>

        {% if not is_granted('list', 'App\\Entity\\Category')
            and not is_granted('list', 'App\\Entity\\Company')
            and not is_granted('list', 'App\\Entity\\MiniGame')
            and not is_granted('list', 'App\\Entity\\Order')
            and not is_granted('list', 'App\\Entity\\Payment')
            and not is_granted('list', 'App\\Entity\\Restaurant')
            and not is_granted('list', 'App\\Entity\\Waiter')
        %}
            <h1 id="home_notice_text">Please wait for admin to set up your privileges.</h1>
        {% endif %}
    </section>
{% endblock %}
